{% extends 'base.html' %}

{% block content %}
<div class="container-fluid"><div class="admin-layout">

        <!-- SIDEBAR -->
        <div class="admin-sidebar">

            <h3 class="fw-bold text-success mb-4">Admin Panel</h3>

            <a href="/admin"><i class="bi bi-speedometer2"></i> Dashboard</a>
            <a href="/admin/products"><i class="bi bi-box-seam"></i> Produk</a>
            <a href="/journal"><i class="bi bi-journal-text"></i> Jurnal Umum</a>
            <a href="/ledger"><i class="bi bi-book"></i> Buku Besar</a>
            <a href="/trial-balance"><i class="bi bi-bar-chart"></i> Neraca Saldo</a>
            <a href="/income-statement"><i class="bi bi-cash-stack"></i> Laba Rugi</a>
            <a href="/closing-entry"><i class="bi bi-x-circle"></i> Jurnal Penutup</a>
            <a href="/admin/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>

        </div>

        <!-- CONTENT -->
        <div class="admin-content">


<h1 class="mb-4">
    Jurnal Umum 📚
</h1>

<div class="card shadow-sm p-4">

    <table class="table table-bordered">

        <thead class="table-success">

            <tr>

                <th>Akun</th>
                <th>Debit</th>
                <th>Kredit</th>
                <th>Keterangan</th>

            </tr>

        </thead>

        <tbody>

            {% for journal in journals %}

            <tr>

                <td>{{ journal.account }}</td>

                <td>
                    {% if journal.debit > 0 %}
                        Rp {{ journal.debit }}
                    {% endif %}
                </td>

                <td>
                    {% if journal.credit > 0 %}
                        Rp {{ journal.credit }}
                    {% endif %}
                </td>

                <td>{{ journal.description }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>


        </div>
</div></div>
{% endblock %}